/* Tags */

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    color: white;
    display: inline;
}


table {
    table-layout: fixed;
    width: 80%;
}

td {
    border-color: white;
    border-collapse: collapse;
    border: 2px solid white;
    color: white;
    padding: 20px;
    width: 25%;
}

button {
    color: white;
    background-color: rgb(255,215,0,1);
    font-size: large;
    font-weight: bold;
    padding: 5% 5%;
}

button.timer {
    color: black;
    font-size: small;
    font-weight: normal;
    padding: 2.5% 5%;
}

button.timer:disabled {
    color: grey;
}

button#download {
    padding: 0;
}

/* Ids */

#mainHeader {
    height: 5%;
    background-color: gold;
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: xxx-large;
    width: 100%;
}

#playerInput {
    display: flex;
}

#startTimer {
    width: 120px;
    height: 70px;
    font-size: xxx-large;
    color: navy;
}

#startTimer:disabled {
    color: grey;
}

#timer {
    font-size: 7.5rem;

}


/* Classes */
.blue {
    background: blue;
}

.blue button {
    background: darkblue;
}

.blue.playerData {
    text-align: left;
}

.buttonsRow {
    overflow: hidden;
    white-space: nowrap;
}

.centerPanel {
    max-width: 43%;
    display: inline-block;
    position: relative;
    padding: 10px 0;
    vertical-align: top;
}

.close {
    position: absolute;
    top: -10px;
    right:-10px;
    background: #fff;
    height: 20px;
    width:20px;
    border-radius:50%;
    cursor:pointer;

}


.container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 0%;
}

.firstName {
    font-size: x-large;
}

.lastName, #period {
    font-size: xx-large;
}

.markerWarning {
    display: flex;
    height: 1rem;
}

.markerWarning.blue {
    justify-content: right;
}

.markerWarning.red {
    justify-content: left;
}

.middle {
    /* width:10%; */
}

.popup{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:150%;
    position:absolute;
    display: none;
    top:0;
    justify-content: center;
}

.popup-content {
    color: black;
    text-align: center;
    font-size: 4rem;
    height:250px;
    width:500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position:relative;
    top: 15%;
}

.red.playerData {
    text-align: right;
}

.red {
    background-color: red;
}

.red button {
    background: darkred;
}

.resetGame {
    width: 10rem;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.score {
    font-size: 7.5rem;
    justify-content: center;
}

.team {
    text-align: center;
    font-size: 2.5em;
    color: #FFF;
    vertical-align: top;
    display: inline-block;
}