<td>
    <label>Mat</label>
    <select name="mat" value="">
        <option value="" selected></option>
        <option value="Mat A">Mat A</option>
        <option value="Mat B">Mat B</option>
    </select><br> <br>
    <label>Age</label><br>
    <select name="age" value="">
        <option value="" selected></option>
        <option value="6-7 yrs">6-7 yrs</option>
        <option value="8-9 yrs">8-9 yrs</option>
        <option value="10-11 yrs">10-11 yrs</option>
        <option value="12-13 yrs">12-13 yrs</option>
        <option value="14-15 yrs">14-15 yrs</option>
        <option value="16-17 yrs">16-17 yrs</option>
        <option value="18-20 yrs">18-20 yrs</option>
        <option value="21yrs+">21yrs+</option>
    </select><br> <br>
    <label name="gender">Gender</label><br>
    <select name="gender">
        <option value="" selected></option>
        <option value="Female">Female</option>
        <option value="Male">Male</option>
    </select> <br> <br>
    <label name="style">Style</label><br>
    <select name="style">
        <option value=""></option>
        <option value="Freestyle">Freestyle</option>
        <option value="Greco-Roman">Greco-Roman</option>
    </select> <br> <br>
    <label name="weight">Weight</label><br>
    <select name="weight">
        <option value=""></option>
    </select> <br> <br>

</td>
