<div class="popup">
    <div class="popup-content">
        <img src="/images/close.png" alt="" srcset="" class="close">
        <div class="popup-text">

        </div>
        <form method="POST" action="/matches/records">
            <!-- This form needs to be populated by victory() -->
            <div style="display: none;">
                <input type="text" name="tournamentId">
                <input type="text" name="matchID">
                <input type="text" name="mat">
                <!-- This is handled server-side -->
                <!-- <input type="text" name="tournament"> -->
                <input type="text" name="red">
                <input type="text" name="blue">
                <input type="text" name="winner">
                <input type="text" name="class_points_red">
                <input type="text" name="class_points_blue">
                <input type="text" name="age">
                <input type="text" name="gender">
                <input type="text" name="style">
                <input type="text" name="weight">
                <input type="text" name="time_start">
                <input type="text" name="time_end">
                <input type="text" name="time_clock">
            </div>
            <button type="submit">Save result</button>
        </form>
        
    </div>
</div>