Other reference/
WWA reference/
WWA_scoreboard_single.html
WWA_scoreboard_single.min.html
Timer_example.html
js/app.min.js
css/styles.min.css
Screenshot.png
wwa_logo.png
George-Samios-Cup-2019-Pairing.xlsx
UFW 2020 Pairing.xlsx