<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

    <style>
        body {
            color: white;
            display: block;
            text-align: left;

        }
    </style>

</head>
<body>
    <%- include('header'); %> 
    <h1>Error!</h1>
    <%- errorMessage %> 
</body>
</html>