<div id="mainHeader">
	<span id="logo"><img src="http://wrestlingwa.org/wp-content/uploads/wwa_logo.png"></span>
	
</div>
<div class="nav">
	<span class="mobile" ><a href="/">Home</a></span>
	<span class="mobile" ><a href="/tournaments/openHome">Current tournament</a></span>
	<span class="mobile" data-label="fixtures">Mat <a href="/matches/fixtures/A">A</a>/<a href="/matches/fixtures/B">B</a></span>
	<span class="mobile" >Scoreboard <a href="/scoreboard/A">A</a>/<a href="/scoreboard/B">B</a></span>
	<span class="mobile" ><a href="/tournaments/history">Tournaments</a></span>
	<span class="mobile" ><a href="/wrestlers/all">Wrestlers</a></span>
	<span class="mobile" ><a href="/query">Query</a></span>

</div>