<div id="mainHeader" class="hero is-primary">
    <!-- <span id="logo"><img src="images/wwa_logo.png"></span> -->
    <img width="768" height="108" src="http://wrestlingwa.org/wp-content/uploads/wwa_logo.png">
</div>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div  class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/tournaments/openHome">Current tournament</a>
        
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Tournaments</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="/tournaments/setup">Set up new tournament</a>
                <a class="navbar-item" href="/tournaments/history">Past tournaments</a>
                <hr class="navbar-divider">
                <a class="navbar-item" href="/scoreboard/A">Scoreboard Mat A</a>
                <a class="navbar-item" href="/scoreboard/B">Scoreboard Mat B</a>
            </div>
        </div>
        <a class="navbar-item" href="/matches/fixtures">Fixtures</a>
        <a class="navbar-item" href="/wrestlers/all">Wrestlers</a>
      </div>
      <div class="navbar-end">
            <a class="button is-primary is-light  navbar-item" href="/query">Query</a>
      </div>
    </div>
  </nav>