<%- include('boilerplate') %>
    
    <title>Wrestling WA Tournament Centre</title>
    <style>
        form {
            display: inline;
        }
    </style>
</head>

<body>
    <%- include('header') %>
    
        <section class="hero">            
            <div class="container">
                <h1 class="title is-1">Tournament Centre</h1>
            </div>
        </section>
    
        <section class="section">
            <div class="container">
                <h1 class="title">Get started</h1>
                    
                <div class="container">
                    <% if (tournamentId != -1) { %>
                        <form action="/tournaments/openHome" method="get">
                            <button class="button is-primary is-large" type="submit">Go to current tournament</button>
                        </form>
                    <% } else { %>
                        <div class="box">
                            No tournament open yet! 
                            <br>
                            Use the buttons below to set up a new one, or open a previously created tournament to get started.
                            <br>
                        </div>
                    <% } %> 
                </div>
                
                <div class="container">
                    <form action="/tournaments/setup" method="get">
                        <button class="button is-primary" type="submit">Set up new tournament</button>
                    </form>
            
                    <form action="/tournaments/history" method="get">
                        <button class="button is-primary" type="submit">Past tournaments</button>
                    </form>    
                
                </div>
                
            </div>
        </section>
        
        
        <section class="container">
            <div class="container">
                <h1 class="title">Other tools</h1>
                <form action="/wrestlers/all" method="get">
                    <button class="button is-primary" type="submit">All Wrestlers</button>
                </form>
                <form action="/scoreboard/A" method="get">
                    <button class="button is-primary" type="submit">Scoreboard</button>
                </form>
            </div>
        </section>

</body>
</html>