<%- include('boilerplate'); %> 
    <title>
        Query
    </title>
</head>
<body>
    <%- include('header'); %> 
    <form  action="/query" method="post">
        <textarea name="query" style="width: 660px; height:320px">SELECT * FROM tournaments </textarea>
        <br><br>
        <input type="submit" value="Write query">
    </form>

    
    

</body>
</html>