<%- include('boilerplate'); %> 
    <title>
        Query
    </title>

    <script defer src="/js/jquery-3.5.1.slim.min.js"></script>

    <script defer>
        // add ctrl-enter as press button
    </script>
</head>



<body>
    <%- include('header'); %> 

    <section class="container">

        <h1 class="title is-3">SQL query</h1>

        <p class="block">Use the text box below to interact directly with the database. Results are displayed in JSON format. </p>

        <form  class="block" action="/query" method="post">
            <textarea class="textarea" name="query" style="width: 660px; height:320px; font-family:monospace">SELECT * FROM tournaments </textarea>
            <br><br>
            <input class="button is-primary is-large"type="submit" value="Write query">
        </form>

    </section>

    
    

</body>
</html>