<%- include('boilerplate'); %> 
    <!-- To run HTML file through node.js -->
    <script defer src="../js/jquery-3.5.1.slim.min.js"> </script>
    <script defer src="../js/dropdowns.js"></script>
    <script defer src="../js/import.js"></script>
    <script defer src="../js/victory.js"></script>
    <script defer src="../js/timer.js"></script>
    <script defer src="../js/playerClass.js"></script>
    <script defer src="../js/app.js"></script>

    <script src="https://kit.fontawesome.com/0f58b31d22.js" crossorigin="anonymous"></script>
    
    <title>Wrestling WA Online Scoreboard</title>
</head>

<body>
    <%- include('header'); %>

    <div id="resetGameRow">
        <button class="resetGame" id = "setGame">Set game</button>
        <button class="resetGame" id = "resetGame">Reset all</button>
        <!-- <button class="resetGame" id = "import">Import</button> -->
        <button class="resetGame" id = "fixtures">Fixtures</button>
        <button class="resetGame" id = "prev"><<</button>
        <button class="resetGame" id = "next">>></button>
    </div>

<!-- Game setup - disappearable rows  -->
    <div class = "container" id="playerInput" style="display:none">
        <table class="container">
            <tr>
                <td class="red">
<!-- Players details red -->
                    <label>Red first name</label>
                    <input type = "text" name="playerData" id = "redFirstName" value = "redFirstName"><br><br>
                    <label>Red last name</label>
                    <input type = "text" name="playerData" id = "redLastName" value = "redLastName"><br><br>
                    <label>Red club name</label>
                    <input type = "text" name="playerData" id = "redClubName" value = "redClubName"><br><br>
                </td>
                <td class="blue">
                    <label>Blue first name</label>
                    <input type = "text" name="playerData" id = "blueFirstName" value = "blueFirstName"><br><br>
                    <label>Blue last name</label>
                    <input type = "text" name="playerData" id = "blueLastName" value = "blueLastName"><br><br>
                    <label>Blue club name</label>
                    <input type = "text" name="playerData" id = "blueClubName" value = "blueClubName"><br><br>
                </td>
                <td>
<!-- Dropdown lists -->
                    <label>Mat</label>
                    <select name="mat" value="">
                        <option value="" selected></option>
                        <option value="Mat A">Mat A</option>
                        <option value="Mat B">Mat B</option>
                    </select><br> <br>    
                    <label>Age</label><br>
                    <select name="age" value="">
                        <option value="" selected></option>
                        <option value="6-7 yrs">6-7 yrs</option>
                        <option value="8-9 yrs">8-9 yrs</option>
                        <option value="10-11 yrs">10-11 yrs</option>
                        <option value="12-13 yrs">12-13 yrs</option>
                        <option value="14-15 yrs">14-15 yrs</option>
                        <option value="16-17 yrs">16-17 yrs</option>
                        <option value="18-20 yrs">18-20 yrs</option>
                        <option value="21yrs+">21yrs+</option>
                    </select><br> <br>
                    <label name="gender">Gender</label><br>
                    <select name="gender">
                        <option value="" selected></option>
                        <option value="Female">Female</option>
                        <option value="Male">Male</option>
                    </select> <br> <br>
                    <label name="style">Style</label><br>
                    <select name="style">
                        <option value=""></option>
                        <option value="Freestyle">Freestyle</option>
                        <option value="Greco-Roman">Greco-Roman</option>
                    </select> <br> <br>
                    <label name="weight">Weight</label><br>
                    <select name="weight">
                        <option value=""></option>
                    </select> <br> <br>
                </td>
            </tr>
<!-- Confirm game button -->
            <tr>
                <td colspan="5" >
                    <button class="resetGame" id="setConfirmGame">Confirm</button>
                    <button class="resetGame" id="cancelConfirmGame">Cancel</button>
                </td>
            </tr>
        </table>
    </div>
    <div class = "container" id = "fixturesTable" style="display:none"> 
        <%- table %>
    </div>

<!-- Main Score Display -->
    <div class="container" id="main-display">
<!-- Red side -->
        <div class="red playerData">
            <span class = "red firstName">redFirstName</span><br>
            <span class = "red lastName">redLastName</span><br>
            <span class = "red clubName">redClubName</span>
        </div>
<!-- Timer central -->
        <div class="middle">
            <span id="period">Period 1</span><br>
            <span id="gameType"></span>
            <br>
            <span id="timer">0:00</span>
            <br>
            <button class ="timer" id="startTimer" >▶</button>

        </div>
<!-- Blue side -->
        <div class="blue playerData">
            <span class = "blue firstName">blueFirstName</span><br>
            <span class = "blue lastName">blueLastName</span><br>
            <span class = "blue clubName">blueClubName</span>
        </div>
<!-- Player scores -->
        <div class="red scorebox">
            <div class="red markerWarning"></div>
            <div class="red score">0</div>
            <div class="red shotclock">0:00</div>
        </div>
        <div class="blue scorebox">
            <div class="blue markerWarning"></div>
            <div class="blue score">0</div>
            <div class="blue shotclock">0:00</div>
        </div>
<!-- Control buttons row 1: scores -->
        <div class="red points-control">
            <div class="red buttonsRow">
                <table style="border:none; margin-right:0; margin-left:auto;">
                    <tr>
                        <td style="border:none"><button value=4>+5</button><br>A</td>
                        <td style="border:none"><button value=3>+4</button><br>S</td>
                        <td style="border:none"><button value=2>+2</button><br>D</td>
                        <td style="border:none"><button value=1>+1</button><br>F</td>
                        <td style="border:none"><button value=0>-1</button><br>G</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="blue points-control">
            <div class="blue buttonsRow">
                <table style="border:none;margin-right:auto; margin-left:0;">
                    <tr>
                        <td style="border:none"><button value=0>-1</button><br>H</td>
                        <td style="border:none"><button value=1>+1</button><br>J</td>
                        <td style="border:none"><button value=2>+2</button><br>K</td>
                        <td style="border:none"><button value=3>+4</button><br>L</td>
                        <td style="border:none"><button value=4>+5</button><br>;</td>
                    </tr>
                </table>

            </div>
        </div>
<!-- Control buttons row 2: warning -->
        <div class="red penalty">
            <button class="shotclockbtn" id="shotclockbuttonred">Shot clock</button>
            <button class="warning">Warning</button>
        </div>
        <div class="blue penalty">
            <button class="warning">Warning</button>
            <button class="shotclockbtn" id="shotclockbuttonblue">Shot clock</button>
        </div>
<!-- Control buttons row 3: reset -->
        <div class="red pin">
            <button>Pin!</button>
        </div>
        <div class="blue pin">
            <button>Pin!</button>
        </div>
    </div>

    <div id="footer">
        <!-- <button id="download">Download</button> -->
        <table class="results container">
            <tr style="font-weight:bolder">
                <td>Red name</td><td>Blue name</td><td>Red score</td><td>Blue score</td><td>Winner</td><td>Method</td><td>Classification</td>
            </tr>
        </table>

    <div>

<!-- Popup  -->
    <div class="popup">
        <div class="popup-content">
            <img src="images/close.png" alt="" srcset="" class="close">
            <div class="popup-text">

            </div>
            <form method="POST" action="/matches/records">
                <div style="display: none;">
                    <input type="text" name="id">
                    <input type="text" name="tournament">
                    <input type="text" name="red">
                    <input type="text" name="blue">
                    <input type="text" name="winner">
                    <input type="text" name="class_points">
                    <input type="text" name="age">
                    <input type="text" name="gender">
                    <input type="text" name="style">
                    <input type="text" name="weight">
                    <input type="text" name="time_start">
                    <input type="text" name="time_end">
                    <input type="text" name="time_clock">
                </div>
                <button type="submit">Save result</button>
            </form>
            
        </div>
    </div>




<!-- Footer -->
    <br>
    <br>
    <br>
    <br>
    <footer>
        Dyota Tanuwibawa, David Hang 2020
    </footer>
</body>
</html>