<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

    <style>
        flex {
            display: flex;
        }

        flex-item {
            flex: 1
        }
    </style>

</head>
<body>
    <%- include('header'); %> 

    <section class="container">
        <h1 class="title is-3"><%- title %></h1>
    </section>
    
    <div class="container flex">
        
        <iframe src="https://smoothcomp.com/en/event/8953/schedule/mat/52778" frameborder="0" width="40%" height="750"></iframe>
        <iframe src="https://smoothcomp.com/en/event/8953/schedule/mat/52779" frameborder="0" width="40%" height="750"></iframe>


    </div>

</body>
</html>