<%- include('boilerplate'); %> 
    <title>
        <%- title %>
    </title>

    <style>
        flex {
            display: flex;
        }

        flex-item {
            flex: 1
        }
    </style>

</head>
<body>
    <%- include('header'); %> 

    <section class="container">
        <h1 class="title is-3"><%- title %></h1>
    </section>
    
    <div class="container">
        <div class="buttons">
            <a href="https://smoothcomp.com/en/event/12976/schedule/mat/76000" class="button is-medium is-primary">Mat A</a>
            <a href="https://smoothcomp.com/en/event/12976/schedule/mat/76001" class="button is-medium is-primary">Mat B</a>
        </div>
    </div>
    


</body>
</html>