<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="http://wrestlingwa.org/wp-content/uploads/2017/05/wwa1-150x150.jpg" type="image/x-icon">
    <title>
        Tournament setup
    </title>

    <style>
        div {
            display:flex;
            align-items:center;
            align-self: center;
        }
    </style>

    <script src="../js/tournaments_setup.js" defer></script>

</head>
<body>
    <%- include('header'); %> 
    
    <h1>Set up new tournament</h1>

    <div>
    <form action="/tournaments/setup" method="post">
        <table style="display:flex; align-self: center; align-items:center;">
            <tr>
                <td>
                    <strong>Tournament title</strong>
                </td>
                <td>
                    Choose from a previous tournament name:<br>
                    <select name="title" value="">
                        <%- optionsTitles %>
                    </select>
                    <br><br>
                    <span style="visibility: hidden;" name="otherTitleLabel">Or enter a new one: <br></span>
                    <input style="visibility: hidden;" name="otherTitle" type="text" placeholder="Enter new tournament name"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date</strong>
                </td>
                <td>
                    <input type="date" name="date" id="" value=<%- today%> >
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Location</strong>
                </td>
                <td>
                    Choose from a previous location:<br>
                    <select name="location" value="">
                        <%- optionsLocations %>
                    </select><br><br>
                    <span style="visibility: hidden;" name="otherLocationLabel">Or enter a new one: <br></span>
                    <input style="visibility: hidden;" name="otherLocation" type="text" placeholder="Enter new location"></input>
                </td>
            </tr>
        </table>

        <input style="visibility: hidden;" type="submit" value="Create tournament">

    </form>
    </div>

    
</body>
</html>