<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="shortcut icon" href="http://wrestlingwa.org/wp-content/uploads/2017/05/wwa1-150x150.jpg" type="image/x-icon">
    <title>
        Tournament setup
    </title>

    <style>
        div {
            display:flex;
            align-items:center;
            align-self: center;
        }
    </style>

</head>
<body>
    <%- include('header'); %> 
    
    <div>
    <form style="align-items:center;" action="/tournamentSetup" method="post">
        <table>
            <tr>
                <td>
                    <strong>Tournament title</strong>
                </td>
                <td>
                    Choose from a previous tournament name:<br>
                    <select name="title" value="">
                        <%- optionsTitles %>
                    </select>
                    <br><br>
                    <span style="visibility: hidden;" name="otherTitleLabel">Or enter a new one: <br></span>
                    <input style="visibility: hidden;" name="otherTitle" type="text" placeholder="Enter new tournament name"></input>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Date</strong>
                </td>
                <td>
                    <input type="date" name="date" id="" value=<%- today%> >
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Location</strong>
                </td>
                <td>
                    Choose from a previous location:<br>
                    <select name="location" value="">
                        <%- optionsLocations %>
                    </select><br><br>
                    <span style="visibility: hidden;" name="otherLocationLabel">Or enter a new one: <br></span>
                    <input style="visibility: hidden;" name="otherLocation" type="text" placeholder="Enter new location"></input>
                </td>
            </tr>
        </table>

        <input style="visibility: hidden;" type="submit" value="Create tournament">

    </form>
    </div>

    <script>
        
        // "Other" title for tournament
        let selectTitle = document.getElementsByTagName('select')[0];
        selectTitle.addEventListener('click', () => {
            val();

            if (document.getElementsByTagName('select')[0].value === 'Other') {
                document.getElementsByName('otherTitle')[0].style.visibility = 'visible';
                document.getElementsByName('otherTitleLabel')[0].style.visibility = 'visible';
            } else {
                document.getElementsByName('otherTitle')[0].style.visibility = 'hidden';
                document.getElementsByName('otherTitleLabel')[0].style.visibility = 'hidden';
            }
        })

        // 'Other' location
        let selectLocation = document.getElementsByTagName('select')[1];
        selectLocation.addEventListener('click', () => {
            val()

            if (document.getElementsByTagName('select')[1].value === 'Other') {
                document.getElementsByName('otherLocation')[0].style.visibility = 'visible';
                document.getElementsByName('otherLocationLabel')[0].style.visibility = 'visible';
            } else {
                document.getElementsByName('otherLocation')[0].style.visibility = 'hidden';
                document.getElementsByName('otherLocationLabel')[0].style.visibility = 'hidden';
            }
        })

        let textBoxes = document.querySelectorAll('input[type=text]')
        for (var i=0; i<= textBoxes.length; i++) {
            textBoxes[i].addEventListener('keydown', () => {
                val()
            })
        }

        
        function val() {

            let check = 
                (
                    document.getElementsByTagName('select')[0].value === ''
                    || document.getElementsByTagName('select')[0].value === 'Other' && document.getElementsByName('otherLocation')[0].value === ''
                ) || (
                    document.getElementsByTagName('select')[1].value === ''
                    || document.getElementsByTagName('select')[1].value === 'Other' && document.getElementsByName('otherLocation')[0] === ''
                );
            
                console.log(check);
            
            if (check) {
                document.querySelectorAll('input[type=submit]')[0].style.visibility = 'hidden'
            } else {
                document.querySelectorAll('input[type=submit]')[0].style.visibility = 'visible'
            }
        }

    </script>
</body>
</html>