@media(max-width:820px){
    tr.header.mobile, 
    td.mobile[data-label="round"],
    td.mobile[data-label="red_club"],
    td.mobile[data-label="blue_club"],
    span.mobile
    {
        display:none;
    }
    
    span.mobile[data-label="fixtures"] {
        display:contents;
        font-size:1.25em;
    }

    table.mobile {
        width: 110%;
    }

    tr.mobile {
        border: solid white;
    }


    td.mobile[data-label="category"] {
        padding-right:0px;
    }

    td.mobile {
        border:none;
        padding-bottom:5%;
        text-align:left;
        font-size:1.5em;
        vertical-align: top;

    }

}