/* Tags */

a {
    color:yellow;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    --score-button-font-size: 15pt;
}

div {
    color: white;
    /*display: inline;*/
}

h1 {
    color: white;
}

label {
    color: white;
    font-weight: bold;
}

p {
    color: white;
}

table {
    table-layout: fixed;
    width: 80%;
}

td {
    border-color: white;
    border-collapse: collapse;
    border: 2px solid white;
    color: white;
    padding: 20px;
    width: 25%;
}

button, input[type=submit] {
    color: black;
    background-color: rgb(255,215,0,1);
    font-size: large;
    font-weight: bold;
    padding: 5% 5%;
}

button.timer {
    color: black;
    font-size: small;
    font-weight: normal;
    padding: 2.5% 5%;
}

button.timer:disabled {
    color: grey;
}

button#download {
    padding: 5px;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

/* Ids */

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-display {
    width: 95%;
    height: 100vh;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 20% 1fr 1fr 1fr;
    grid-gap: 2px;
    grid-template-areas:
      "left-player left-player time time right-player right-player"
      "left-score left-score left-score right-score right-score right-score"
      "left-points-control left-points-control left-points-control right-points-control right-points-control right-points-control"
      "left-penalty-control left-penalty-control left-penalty-control right-penalty-control right-penalty-control right-penalty-control"
      "left-pin left-pin left-pin right-pin right-pin right-pin";
    margin-top: 10px;
    margin-bottom: 40px;
}

#mainHeader {
    height: 5%;
    background-color: gold;
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: xxx-large;
    width: 100%;
    margin-bottom: 10px;
}

@media(max-width: 1400px){
    #fedName{
        display: none;
    }

    #logo img{
        max-width:100%;
    }
}

#playerInput {
    display: flex;
}

#resetGameRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#startTimer {
    width: 150px;
    height: 100px;
    font-size: xxx-large;
    color: navy;
    border-radius: 10px;
}

#startTimer:disabled {
    color: grey;
    background-color: darkslategray;
}

#timer {
    font-size: 15vw;
}

/* Classes */
.blue {
    background: blue;
}

.red {
    background-color: red;
}

.blue button {
    background: darkblue;
    color:white;
}

.red button {
    background: darkred;
    color:white;
}

.blue.playerData {
    text-align: left;
    grid-area: right-score;
    border-top-right-radius: 30px
}

.blue.scorebox {
    grid-area: right-player;
    border-radius: 0px 30px 30px 0px;
}

.blue.points-control {
    grid-area: right-points-control;
}

.blue.penalty {
    grid-area: right-penalty-control;
}

.blue.pin {
    grid-area: right-pin;
    border-bottom-right-radius: 30px
}

.buttonsRow {
    overflow: hidden;
    white-space: nowrap;
}

.centerPanel {
    max-width: 43%;
    display: inline-block;
    position: relative;
    padding: 10px 0;
    vertical-align: top;
}

.close {
    position: absolute;
    top: -10px;
    right:-10px;
    background: #fff;
    height: 20px;
    width:20px;
    border-radius:50%;
    cursor:pointer;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 0%;
}

.firstName, .clubName {
    font-size: min(3vw,30pt);
}

.lastName, #period {
    font-size: min(3.5vw,36pt);
}

.mainPage {
    width:200px;
    height: 100px;
}

.markerWarning {
    color: yellow;
    display: flex;
    font-size:  8vh;/* xxx-large; */
    height: 8vh;/* 1rem; */
    background: initial;
    padding: 0px;
    margin: 0px;
}

.markerWarning.blue {
    justify-content: left;
    padding-left: 20px;
}

.markerWarning.red {
    justify-content: right;
    background: initial;
    padding-right: 20px;
}

.matchOrder {
    background-color:rgb(255,215,0,1);
    font-size: xx-large;
}

.middle {
    /* width:10%; */
    grid-area: time;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.pin button {
    font-size: min(2vw,var(--score-button-font-size));
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.pin {
    display: flex;
    align-items: center;
    justify-content: center;
}


.popup{
    background-color: rgba(0,0,0,0.6);
    width:100%;
    height:150%;
    position:absolute;
    display: none;
    top: 0px;
    left: 0px;
    justify-content: center;
}

.popup-content {
    color: black;
    text-align: center;
    font-size: 4rem;
    height:250px;
    width:500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position:relative;
    top: 15%;
}

.points-control button {
    font-size: min(2vw,var(--score-button-font-size));
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.points-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerData {
    padding: 10px;
}

.red.playerData {
    text-align: right;
    grid-area: left-score;
    border-top-left-radius: 30px
}

/* .red moved to top, next to .blue */
/* .red button moved to top, next to .blue button */

.red.scorebox {
    grid-area: left-player;
    border-radius: 30px 0px 0px 30px;
}

.red.points-control {
    grid-area: left-points-control;
}

.red.penalty {
    grid-area: left-penalty-control;
}

.red.pin {
    grid-area: left-pin;
    border-bottom-left-radius: 30px
}

.resetGame {
    color: black;
    height: 2rem;
    margin: 0;
    padding: 0;
    width: 10rem;
    border-radius: 5px;
}

.score {
    /*font-size: 7.5rem;*/
    font-size: 35vh;
    background: initial;
    padding: 0px;
    margin: 0px;
}

.scorebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px;
    margin: 0px;
}

.shotclock {
    font-size: 6vh;
    background: grey;
    margin: 20px;
    color: white;
    visibility: hidden;
}

.team {
    text-align: center;
    font-size: 2.5em;
    color: #FFF;
    vertical-align: top;
    display: inline-block;
}

.penalty button {
    font-size: min(2vw,var(--score-button-font-size));
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
}

.penalty {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Iphone screen size */
@media(max-width: 500px){
    #startTimer {
        width: 75px;
        height: 50px;
        font-size: x-large;
        color: navy;
        border-radius: 10px;
    }

    #main-display {
        grid-template-rows: 40% 10% 1fr 1fr 1fr;
    }

    .buttonsRow {
        display: flex;
        flex-wrap: wrap;
        overflow: initial;
        white-space: initial;
        justify-content: center;
    }

    .points-control button {
        font-size: 15pt;
    }

    .pin button {
        font-size: 20pt;
    }

    .penalty button {
        font-size: 10pt;
    }

    .score {
        /*font-size: 7.5rem;*/
        font-size: 18vh;
    }

    .shotclock {
        font-size: 4vh;

    }

    #timer {
        font-size: 13vw;
    }
}